/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root{
  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(100, 22%, 15%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(510, 9%, 13%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);


  --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
  --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);


  --fontFamily-forum: 'Forum', cursive;
  --fontFamily-dm_sans: 'DM Sans', sans-serif;

  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  --weight-regular: 400;
  --weight-bold: 700;

  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  --section-space: 70px;

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  --radius-24: 24px;
  --radius-circle: 50%;

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;









}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea { display: block; }

a{
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button,
select,
textarea{
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea{
  width: 100%;
  outline: none;
}

button { cursor: pointer; }

address { font-style: normal; }

html {
  scroll-behavior: smooth;
}

body{
    color: var(--eerie-black-4);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
}


header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background: white;
}

/* .logo img{
  max-width: 120px;
  height: auto;
} */

.navmenu{
  display: flex;
}

.navmenu a{
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: var(--weight-bold);
  transition: all .42s ease;
}

.navmenu a:hover{
  color: #ee1c47;
}

.nav-icon{
  display: flex;
  align-items: center;
}

.nav-icon i{
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all .42s ease;
}

.nav-icon i:hover{
  transform: scale(1.1);
  color: #ee1c47;
}

#menu-icon{
  font-size: 35px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
}


.hero-section{
  padding: 150px;
  border-bottom: 2px solid var(--eerie-black-1);
}

.img-cont img{
  width: 40rem;
}

.container{
  display: flex;
  width: 100%;
  padding: 15px;
}


.section-text{
  padding: 30px;
}


.section-body{ 
  padding: 50px;
}


.section-body h1{
  font-size: 30px;
}

.posts{
  padding-top: 40px;
  border: 1px solid none;
  width: 40%;
  border-radius: 20px;
}

.date{ font-size: 16px; }

.post-cont{
  padding: 10px;
}

.section-body p{
  font-size: 25px;
}

.img-conts img{
  width: 30rem;
  border: none;
  border-radius: 20px;
}


.post-cont .rd{
  background-color: black;
  color: white;
  width: 37%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
























@media(max-width:890px){
  header{
      padding: 20px 3%;
      transition: .4s;
  }
}

@media(max-width:630px){
  .main-text h1{
      font-size: 50px;
      transition: .4s;
  }

  .main-text p{
      font-size: 18px;
      transition: .4s;
  }

  .main-btn{
      padding: 10px 20px;
      transition: .4s;
  }
  

}


@media(max-width:1000px){
  .navmenu{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 130vh;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 30px;
      transition: all .5;
  }

  .navmenu a{
      display: block;
      margin: 18px 0;
  }

  .navmenu.open{
      right: 0;
  }

  .hero{
    width: 100%;
  }
  h1{
    font-size: 30px;
  }

  p{
    font-size: 16px;
    line-height: 2;
  }

  .img-cont img{
    width: 20rem;
  }

  .container{
    display: block;
    width: 100%;
    padding: 15px;
  }

  .container h1{
    font-size: 20px;
  }

  .img-conts img{
    width: 15rem;
    border: none;
    border-radius: 20px;
  }
  .post-cont h1{
    font-size: 20px;
  }

  .post-cont p{
    font-size: 15px;
  }

  .posts{
    width: 70%;
  }

  .post-cont .rd{
    background-color: black;
    color: white;
    width: 27%;
    border: none;
    padding: 1px;
    font-size: 16px;
    border-radius: 10px;
  }

}





















